@import "variables";
@import "mixins";

a {
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  color: $linkColor;
  text-decoration: none;
  transition: all .2s ease-in-out;
  &:focus,
  &:hover
  {
    color: $linkColorHover;
    text-decoration: none;
  }
}

body {
  -webkit-tap-highlight-color: rgba(white, 0.2);
  color: $fontColor;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}


h1,
h2,
h3 {
  font-family: 'Open Sans Light', sans-serif;
  font-weight:bold;
  letter-spacing: 1px;
  margin: 0 0 35px;
}

html {
  height: 100%;
  width: 100%;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

p, ul {
  font-size: 18px;
  line-height: 1.5;
  margin: 0 0 25px;
  @media(min-width:768px) {
    font-size: 20px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}

pre{
  margin-bottom: 40px;
  text-align:left;
}

.light {
  font-weight: 400;
}

.navbar-custom {
  background-color: $navbarBGColor;
  margin-bottom: 0;
  text-transform: uppercase;
  .navbar-toggle {
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2);
    &:active,
    &:focus
    {
      outline: none;
    }
  }
  .navbar-brand {
    font-weight: bold;
    &:focus {
      outline: none;
    }
  }
  a {
    color: $fontColor;
  }
  .nav {
    li {
      a {
        -moz-transition: background .3s ease-in-out;
        -webkit-transition: background .3s ease-in-out;
        font-size: 15px;
        transition: background .3s ease-in-out;
        &:focus,
        &:hover
        {
          background-color: transparent;
          color: $linkColorHover;
          outline: none;
        }
        &:active {
          background-color: transparent;
        }
      }
      &.active {
        a {
          background-color: #fff;
        }
      }
    }
  }
  @media(min-width:768px) {
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    background: transparent;
    border-bottom: none;
    letter-spacing: 1px;
    padding: 20px 0;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    &.top-nav-collapse {
      background: $navbarBGColor;
      padding: 0;
    }
  }
}

.intro {
  display: table;
  height: auto;
  padding: 100px 0;
  text-align: center;
  width: 100%;
  .intro-body {
    display: table-cell;
    vertical-align: middle;
  }
  @media(min-width:768px) {
    height: 100%;
    padding: 0;
    .intro-body {
      .brand-heading {
        font-size: 100px;
      }
      .intro-text {
        font-size: 26px;
      }
    }
  }
}

.btn-circle {
  -moz-transition: background .3s ease-in-out;
  -webkit-transition: background .3s ease-in-out;
  background: transparent;
  border: 2px solid $linkColor;
  border-radius: 100% !important;
  color: $linkColor;
  font-size: 40px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  transition: background .3s ease-in-out;
  width: 70px;
  &:focus,
  &:hover
  {
    border: 2px solid $linkColorHover;
    color: $linkColorHover;
    outline: none;
  }
  i.animated {
    -moz-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -webkit-transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {
  from {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

.content-section {
  padding-top: 75px;
}

@media(min-width:767px) {
  .content-section {
    padding-top: 200px;
  }
}

.btn {
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  border-radius: 0;
  font-weight: 400;
  margin-bottom: 20px;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
}

.btn-default {
  border: 1px solid $linkColor;
  color: $linkColor;
  background-color: transparent;
  &:focus,
  &:hover {
    border: 1px solid $linkColorHover;
    outline: none;
    background-color: $linkColorHover;
  }
}

ul.banner-social-buttons {
  margin-top: 0;
  text-align: center;
  @media(max-width:1199px) {
    margin-top: 15px;
  }
  @media(max-width:767px) {
    li {
      display: block;
      margin-bottom: 20px;
      padding: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}
