section( id='about' class='container content-section' )
  div( class='row' )
    div( class='col-lg-8 col-lg-offset-2' )
      h2(class='text-center') About
      
      p A finite state machine is a very good way to keep things in order. Using a sequential logic circuits helps your code to be clean and easy to read.
      p It is an abstract machine that can be in one of a finite number of states. The machine is in only one state at a time; the state it is in at any given time is called the current state. It can change from one state to another when initiated by a triggering event or condition; this is called a transition. A particular FSM is defined by a list of its states, its initial state, and the triggering condition for each transition.
      
      p Check the 
        //- a( class='page-scroll' href='#example' ) Example 
        //- |and 
        a( class='page-scroll' href='#source' ) Code 
        |section for more information on how to use Taipan.js.
        br/
        | There is also a 
        a( class='page-scroll' href='doc/index.html' target='_blank' ) documentation 
        | if you need to go deeper.
      
      p You can help develop Taipan.js on 
        a( href='https://github.com/LCluber' target='_blank' ) Github
        |.
