section( id='about' class='container content-section text-justify' )
  div( class='row' )
    div( class='col-lg-8 col-lg-offset-2' )
      h2( class='text-center' ) About
      
      p The purpose of this library is to provide a simple and easy to use.

      p Check 
        a( class='page-scroll' href='#example' ) Example 
        |and 
        a( class='page-scroll' href='#source' ) Code 
        |section for more information on how to use Bump.js. There is also a 
        a( class='page-scroll' href='doc/index.html' target='_blank' ) documentation 
        | if you need to go deeper.
      
      p You can help develop Bump.js on 
        a( href='https://github.com/LCluber' target='_blank' ) Github
        |.
