header( class='intro')
  div( class='intro-body')
    div( class='container')
      div( class='row')
        div( class='col-md-8 col-md-offset-2')
          h1( class='brand-heading' ) Bump.js
          p( class='intro-text') An open source 2D physics engine written in Javascript.
            br/
            br/ 
            a( href='#about' class='btn btn-circle page-scroll' )
              i( class='fa fa-angle-double-down animated' )
