doctype html
html( lang='en')
  head
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible' content='IE=edge' )
    meta( name='viewport' content='width=device-width,initial-scale=1' )
    meta( name='description' content='' )
    meta( name='author' content='Ludovic Cluber' )
    title Taipan.js

    link( rel='stylesheet' type='text/css' href='public/css/style.min.css')
    link( rel="icon" href="public/img/favicon.ico")

  body( id='page-top' data-spy='scroll' data-target='.navbar-fixed-top' )
    
    include _menu

    block content
    
    include _footer
    
    script( src = 'public/js/main.min.js' )
