nav( class='navbar navbar-custom navbar-fixed-top' role='navigation' )
  div( class='container' )
    div( class='navbar-header' )
      button( type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-main-collapse') Menu
        i( class='fa fa-bars')

    div( class='collapse navbar-collapse navbar-right navbar-main-collapse' )
      ul( class='nav navbar-nav' )
        li
          a( class='page-scroll' href='#page-top' ) Home
        li
          a( class='page-scroll' href='#about' ) About
        //- li
        //-   a( class='page-scroll' href='#example' ) Example
        li
          a( class='page-scroll' href='#source' ) Code
        li
          a( class='page-scroll' href='#download' ) Download
        li
          a( class='page-scroll' href='doc/index.html' target='_blank' ) Documentation
        li
          a( class='page-scroll' href='#contact' ) Contact
